<div class="page-header">
  <h3>Team #<%= @team.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Divison league</dt>
      <dd><%= @team.divison_league %></dd>

      <dt>Schedule</dt>
      <dd><%= @team.schedule %></dd>

      <dt>When play</dt>
      <dd><%= @team.when_play %></dd>

      <dt>Location</dt>
      <dd>
        <% if @team.location.present? %>
          <a href="/locations/<%= @team.location_id %>">
            <%= @team.location.field %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/teams" class="btn btn-primary">
        Back
      </a>
      <a href="/teams/<%= @team.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_team/<%= @team.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Team has many players -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Players
      </li>

      <% @team.players.each do |player| %>
        <li class="list-group-item">
          <a href="/players/<%= player.id %>">
            <%= player.scout_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/players/<%= player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/players/<%= player.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_player/<%= player.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_player" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for scout_id -->
      <div class="form-group">
        <label for="scout_id" class="control-label">
          Scout
        </label>

        <input type="text" id="scout_id" name="scout_id" placeholder="Scout" class="form-control" value="">
      </div>

      <!-- Label and input for team_id -->
      <input type="hidden" name="team_id" value="<%= @team.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for dob -->
      <div class="form-group">
        <label for="dob" class="control-label">
          Dob
        </label>

        <input type="text" id="dob" name="dob" placeholder="Dob" class="form-control" value="">
      </div>

      <!-- Label and input for position -->
      <div class="form-group">
        <label for="position" class="control-label">
          Position
        </label>

        <input type="text" id="position" name="position" placeholder="Position" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Player
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Team has many home_events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Home Events
      </li>

      <% @team.home_events.each do |schedule| %>
        <li class="list-group-item">
          <a href="/schedules/<%= schedule.id %>">
            <%= schedule.home_team_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/schedules/<%= schedule.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/schedules/<%= schedule.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_schedule/<%= schedule.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_schedule" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for home_team_id -->
      <div class="form-group">
        <label for="home_team_id" class="control-label">
          Home team
        </label>

        <%= select_tag(:home_team_id, options_from_collection_for_select(Team.all, :id, :divison_league), :class => "form-control") %>
      </div>

      <!-- Label and input for away_team_id -->
      <div class="form-group">
        <label for="away_team_id" class="control-label">
          Away team
        </label>

        <%= select_tag(:away_team_id, options_from_collection_for_select(Team.all, :id, :divison_league), :class => "form-control") %>
      </div>

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :field), :class => "form-control") %>
      </div>

      <!-- Label and input for event_date -->
      <div class="form-group">
        <label for="event_date" class="control-label">
          Event date
        </label>

        <input type="text" id="event_date" name="event_date" placeholder="Event date" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Schedule
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Team has many away_events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Away Events
      </li>

      <% @team.away_events.each do |schedule| %>
        <li class="list-group-item">
          <a href="/schedules/<%= schedule.id %>">
            <%= schedule.home_team_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/schedules/<%= schedule.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/schedules/<%= schedule.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_schedule/<%= schedule.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
