<!-- Validation failure messages -->
<% if @schedule.errors.any? %>
  <% @schedule.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Schedule #<%= @schedule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_schedule/<%= @schedule.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for home_team_id -->
      <div class="form-group">
        <label for="home_team_id" class="control-label">
          Home team
        </label>

        <%= select_tag(:home_team_id, options_from_collection_for_select(Team.all, :id, :name, @schedule.home_team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for away_team_id -->
      <div class="form-group">
        <label for="away_team_id" class="control-label">
          Away team
        </label>

        <%= select_tag(:away_team_id, options_from_collection_for_select(Team.all, :id, :name, @schedule.away_team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :field, @schedule.location_id), :class => "form-control") %>
      </div>

      <!-- Label and input for event_date -->

      <!-- Label and input for event_date -->
      <div class="input-group date" id="datetimepicker1">
        <label for="event_date" class="control-label">
          Event date
        </label>

        <input type="text" class="form-control" name="event_date" id="event_date" value="<%= @schedule.event_date %>">
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-calender"></span></span>

      </div>

      <script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>



      <button class="btn btn-warning">
        Update Schedule
      </button>
      or
      <a href="/schedules/<%= @schedule.id %>">Cancel</a>
    </form>
  </div>
</div>
