<div class="page-header">
  <h3>Schedule #<%= @schedule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Home team</dt>
      <dd>
        <% if @schedule.home_team.present? %>
          <a href="/teams/<%= @schedule.home_team_id %>">
            <%= @schedule.home_team.divison_league %>
          </a>
        <% end %>
      </dd>

      <dt>Away team</dt>
      <dd>
        <% if @schedule.away_team.present? %>
          <a href="/teams/<%= @schedule.away_team_id %>">
            <%= @schedule.away_team.divison_league %>
          </a>
        <% end %>
      </dd>

      <dt>Location</dt>
      <dd>
        <% if @schedule.location.present? %>
          <a href="/locations/<%= @schedule.location_id %>">
            <%= @schedule.location.field %>
          </a>
        <% end %>
      </dd>

      <dt>Event date</dt>
      <dd><%= @schedule.event_date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/schedules" class="btn btn-primary">
        Back
      </a>
      <a href="/schedules/<%= @schedule.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_schedule/<%= @schedule.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
