<!-- Validation failure messages -->
<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_event/<%= @event.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for home_team_id -->
      <div class="form-group">
        <label for="home_team_id" class="control-label">
          Home team
        </label>

        <%= select_tag(:home_team_id, options_from_collection_for_select(Team.all, :id, :divison_league, @event.home_team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for away_team_id -->
      <div class="form-group">
        <label for="away_team_id" class="control-label">
          Away team
        </label>

        <%= select_tag(:away_team_id, options_from_collection_for_select(Team.all, :id, :divison_league, @event.away_team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :field, @event.location_id), :class => "form-control") %>
      </div>

      <!-- Label and input for held_at -->
      <div class="form-group">
        <label for="held_at" class="control-label">
          Held at
        </label>

        <input type="text" id="held_at" name="held_at" placeholder="Held at" class="form-control" value="<%= @event.held_at %>">
      </div>

      <button class="btn btn-warning">
        Update Event
      </button>
      or
      <a href="/events/<%= @event.id %>">Cancel</a>
    </form>
  </div>
</div>
