<div class="page-header">
  <h3>Scout #<%= @scout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @scout.email %></dd>

      <dt>Password</dt>
      <dd><%= @scout.password %></dd>

      <dt>Name</dt>
      <dd><%= @scout.name %></dd>

      <dt>Player</dt>
      <dd><%= @scout.player_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/scouts" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Scout has many assigned_players -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Assigned Players
      </li>

      <% @scout.assigned_players.each do |assigned_player| %>
        <li class="list-group-item">
          <a href="/assigned_players/<%= assigned_player.id %>">
            <%= assigned_player.scout_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/assigned_players/<%= assigned_player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == assigned_player.scout %>
              <a href="/assigned_players/<%= assigned_player.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_assigned_player/<%= assigned_player.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Scout has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorites
      </li>

      <% @scout.favorites.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.scout_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == favorite.scout %>
              <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
