<div class="page-header">
  <h1>
    Players
    <a href="/players/new" class="btn btn-lg btn-success">New Player</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Scout</th>
        <th>Team</th>
        <th>Name</th>
        <th>Dob</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>

      <% @players.each do |player| %>
      <tr>
        <td><%= player.scout_id %></td>
        <td><%= player.team.divison_league %></td>
        <td><%= player.name %></td>
        <td><%= player.dob %></td>
        <td><%= player.position %></td>
        <td>
          <a href="/players/<%= player.id %>" class="btn btn-primary">Show</a>
          <a href="/players/<%= player.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_player/<%= player.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
