<div class="page-header">
  <h3>Player #<%= @player.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Scout</dt>
      <dd><%= @player.scout_id %></dd>

      <dt>Team</dt>
      <dd>
        <% if @player.team.present? %>
          <a href="/teams/<%= @player.team_id %>">
            <%= @player.team.divison_league %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @player.name %></dd>

      <dt>Dob</dt>
      <dd><%= @player.dob %></dd>

      <dt>Position</dt>
      <dd><%= @player.position %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/players" class="btn btn-primary">
        Back
      </a>
      <a href="/players/<%= @player.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_player/<%= @player.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Player has many notes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Notes
      </li>

      <% @player.notes.each do |note| %>
        <li class="list-group-item">
          <a href="/notes/<%= note.id %>">
            <%= note.player_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/notes/<%= note.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/notes/<%= note.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_note/<%= note.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_note" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for player_id -->
      <input type="hidden" name="player_id" value="<%= @player.id %>">

      <button class="btn btn-block btn-success">
        Create Note
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Player has many assigned_to_a_scout -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Assigned To A Scout
      </li>

      <% @player.assigned_to_a_scout.each do |assigned_player| %>
        <li class="list-group-item">
          <a href="/assigned_players/<%= assigned_player.id %>">
            <%= assigned_player.scout_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/assigned_players/<%= assigned_player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/assigned_players/<%= assigned_player.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_assigned_player/<%= assigned_player.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_assigned_player" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for scout_id -->
      <input type="hidden" name="scout_id" value="<%= current_user.id %>">

      <!-- Label and input for player_id -->
      <input type="hidden" name="player_id" value="<%= @player.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Assigned Player
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Player has many is_favorited_by_scout -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Is Favorited By Scout
      </li>

      <% @player.is_favorited_by_scout.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.scout_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for scout_id -->
      <input type="hidden" name="scout_id" value="<%= current_user.id %>">

      <!-- Label and input for player_id -->
      <input type="hidden" name="player_id" value="<%= @player.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Favorite
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
