<div class="page-header">
  <h1>
    Assigned players
    <a href="/assigned_players/new" class="btn btn-lg btn-success">New Assigned player</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Scout</th>
        <th>Player</th>
        <th>Actions</th>
      </tr>

      <% @assigned_players.each do |assigned_player| %>
      <tr>
        <td>
          <% if assigned_player.scout.present? %>
            <a href="/scouts/<%= assigned_player.scout.id %>">
              <%= assigned_player.scout.id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if assigned_player.player.present? %>
            <a href="/players/<%= assigned_player.player.id %>">
              <%= assigned_player.player.name%>
            </a>
          <% end %>
        </td>

        <td>
          <a href="/assigned_players/<%= assigned_player.id %>" class="btn btn-primary">Show</a>

          <% if current_admin_user == assigned_player.scout %>
            <a href="/assigned_players/<%= assigned_player.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_assigned_player/<%= assigned_player.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @assigned_players, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
