<div class="page-header">
  <h3>Location #<%= @location.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Field</dt>
      <dd><%= @location.field %></dd>

      <dt>Details</dt>
      <dd><%= @location.details %></dd>

      <dt>Address</dt>
      <dd>
        <div>
          <div id="location_map" style="height: 480px;"></div>
        </div>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/locations" class="btn btn-primary">
        Back
      </a>
      <a href="/locations/<%= @location.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_location/<%= @location.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Location has many schedules -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Schedules
      </li>

      <% @location.schedules.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.home_team_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for home_team_id -->
      <div class="form-group">
        <label for="home_team_id" class="control-label">
          Home team
        </label>

        <%= select_tag(:home_team_id, options_from_collection_for_select(Team.all, :id, :divison_league), :class => "form-control") %>
      </div>

      <!-- Label and input for away_team_id -->
      <div class="form-group">
        <label for="away_team_id" class="control-label">
          Away team
        </label>

        <%= select_tag(:away_team_id, options_from_collection_for_select(Team.all, :id, :divison_league), :class => "form-control") %>
      </div>

      <!-- Label and input for location_id -->
      <input type="hidden" name="location_id" value="<%= @location.id %>">

      <!-- Label and input for held_at -->
      <div class="form-group">
        <label for="held_at" class="control-label">
          Held at
        </label>

        <input type="text" id="held_at" name="held_at" placeholder="Held at" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Event
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Location has many teams -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Teams
      </li>

      <% @location.teams.each do |team| %>
        <li class="list-group-item">
          <a href="/teams/<%= team.id %>">
            <%= team.divison_league %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/teams/<%= team.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/teams/<%= team.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_team/<%= team.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_team" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for divison_league -->
      <div class="form-group">
        <label for="divison_league" class="control-label">
          Divison league
        </label>

        <input type="text" id="divison_league" name="divison_league" placeholder="Divison league" class="form-control" value="">
      </div>

      <!-- Label and input for schedule -->
      <div class="form-group">
        <label for="schedule" class="control-label">
          Schedule
        </label>

        <input type="text" id="schedule" name="schedule" placeholder="Schedule" class="form-control" value="">
      </div>

      <!-- Label and input for when_play -->
      <div class="form-group">
        <label for="when_play" class="control-label">
          When play
        </label>

        <input type="text" id="when_play" name="when_play" placeholder="When play" class="form-control" value="">
      </div>

      <!-- Label and input for location_id -->
      <input type="hidden" name="location_id" value="<%= @location.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Team
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>


<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @location.address_latitude %>,
        "lng": <%= @location.address_longitude %>,
        "infowindow": "<h5><%= @location.created_at %></h5><small><%= @location.address_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>